<tr style="width:200px" class='cordaLinha<%= i %>'>
  <td colspan='0.5' id='valor_idX<%= i %>'><%= i %></td>
  
<td id='valor_datahoraX<%= i %>'>
    <input type='hidden' id='datahora_textX<%= i %>' value='$datahora'><%= dados["passagem"][dados[pegar][i].selecionarDado].dataHora %></td>


      <td id='valor_numeronfX<%= i %>'>
     <%= dados["passagem"][dados[pegar][i].selecionarDado].numeronf %>
    </td>
       
   
    <td id='valor_quemrecebeuX<%= i %>'>
      <select onchange="autoreflash(this,Pvalor_quemrecebeu<%= i %>)" name='quem' id='quemX<%= i %>'>
      <option value=''></option>
      <option value='MAX'>MAX</option>
      <option value='DUDU'>DUDU</option>
      <option value='TINGA'>TINGA</option> 
      <option value='MANOEL'>MANOEL</option> 
      <option value='DIEIMES'>DIEIMES</option> 
      <option value='CRISTIANO'>CRISTIANO</option> 
      <option value='CRISTIANO DUARTE'>CRISTIANO DUARTE</option> 
    </select>

      <p onclick='make(this,quemX<%= i %>)' id='Pvalor_quemrecebeu<%= i %>'><%= dados[pegar][i].quemrecebeu %></p>
    </td>


 
  
      <td id='StatusdepX<%= i %>'>
    <select onchange="autoreflash(this,PstatusdepX<%= i %>)" name='quem' id='statusdepX<%= i %>'>        <option value='PENDENTE'>PENDENTE</option> 
      <option value='AGUARDANDO ROTA'>AGUARDANDO ROTA</option>
      <option value='EM SEPARAÇÃO'>EM SEPARAÇÃO</option>
      <option value='ENTREGUE'>ENTREGUE</option> 
      <option value='AGUARDANDO VENDEDOR'>AGUARDANDO VENDEDOR</option>
      <option value='CANCELADA'>CANCELADA</option>
      <option value='EM OBSERVAÇÃO T.I'>EM OBSERVAÇÃO T.I</option>
      <option value="ALEXANDRE">ALEXANDRE</option>
      <option value="DIONATHA">DIONATHA</option>
      <option value="DOUGLAS">DOUGLAS</option>
      <option value="IGON">IGON</option>
      <option value="JULIANO">JULIANO</option>
      <option value="MATHEUS">MATHEUS</option>
      <option value="VANDERLEI">VANDERLEI</option>
      <option value="VILNEI">VILNEI</option>
      <option value="MAX">MAX</option>
      <option value="CRISTIANO">CRISTIANO</option>
      <option value="WILLIAM">WILLIAM</option>
      <option value="PAULO ALEXANDRE">PAULO ALEXANDRE</option>
      
    </select><p onclick='make(this,statusdepX<%= i %>)' id='PstatusdepX<%= i %>' class="orientador"><%= dados[pegar][i].statusdep %></p></td>