<tr style="width:200px" class='cordaLinha<%= dados[pegar][i].id %>'>
  <td colspan='0.5' id='valor_idX<%= dados[pegar][i].id %>'><%= dados[pegar][i].id %></td>
  
<td id='valor_datahoraX<%= dados[pegar][i].id %>'>
    <input type='hidden' id='datahora_textX<%= dados[pegar][i].id %>' value='$datahora'><%= dados["passagem"][dados[pegar][i].selecionarDado].dataHora %></td>


      <td id='valor_numeronfX<%= dados[pegar][i].id %>'>
      <input onchange="autoreflash(this, Pvalor_numeronfX<%= dados[pegar][i].id %>)" type='text' value="<%= dados[pegar][i].numeronf %>" id='numeronf_textX<%= dados[pegar][i].id %>'>
      <p onclick='make(this,numeronf_textX<%= dados[pegar][i].id %>)' id='Pvalor_numeronfX<%= dados[pegar][i].id %>'><%= dados["passagem"][dados["financeiro"][i].selecionarDado].numeronf %></p>
    </td>
       
   
    <td id='valor_quemrecebeuX<%= dados[pegar][i].id %>'>
      <select onchange="autoreflash(this,Pvalor_quemrecebeu<%= dados[pegar][i].id %>)" name='quem' id='quemX<%= dados[pegar][i].id %>'>
      <option value=''></option>
      <option value='DIEIMES'>DIEIMES</option>
      <option value='CRISTIANO S.'>CRISTIANO S.</option>
      <option value='MAX'>MAX</option> 
    </select>

      <p onclick='make(this,quemX<%= dados[pegar][i].id %>)' id='Pvalor_quemrecebeu<%= dados[pegar][i].id %>'><%= dados[pegar][i].quemrecebeu %></p>
    </td>


 
  
      <td id='StatusdepX<%= dados[pegar][i].id %>'>
    <select onchange="autoreflash(this,PstatusdepX<%= dados[pegar][i].id %>)" name='quem' id='statusdepX<%= dados[pegar][i].id %>'><option value='PENDENTE'>PENDENTE</option> 
      <option value='AGUARDANDO ROTA'>AGUARDANDO ROTA</option>
      <option value='AGUARDANDO VENDEDOR'>AGUARDANDO VENDEDOR</option>
      <option value='EM SEPARACAO'>EM SEPARACAO</option>
      <option value='ENTREGUE'>ENTREGUE</option>
    </select><p onclick='make(this,statusdepX<%= dados[pegar][i].id %>)' id='PstatusdepX<%= dados[pegar][i].id %>' class="orientador"><%= dados[pegar][i].statusdep %></p></td>