<tr style="width:200px" class='cordaLinha<%= dados["financeiro"][i].id %>'>
  <td colspan='0.5' id='valor_idX<%= dados["financeiro"][i].id %>'><%= dados["financeiro"][i].id %></td>
      
  <td id='valor_datahoraX<%= dados["financeiro"][i].id %>'>
    <%= dados["passagem"][dados["financeiro"][i].selecionarDado].dataHora %></td>

<td id='valor_numeronfX<%= dados["financeiro"][i].id %>'><%= dados["passagem"][dados["financeiro"][i].selecionarDado].numeronf %></p>
    </td>

<td id='Pvalor_exped<%= dados["financeiro"][i].id %>'><%= dados[pegar][i].exped %></td>

<td class="orientador" id='valor_statusnfX<%= dados["financeiro"][i].id %>'>
          <select name='coisa' id='coisaX<%= dados["financeiro"][i].id %>'>
          <option value=''></option>
          <option value='PENDENTE'>PENDENTE</option>
          <option value='EMITIDA'>EMITIDA</option>
          <option value='RETORNOU AO VENDEDOR'>RETORNOU AO VENDEDOR</option>
          <option value='CANCELADA'>CANCELADA</option>
        </select>
          <p id="stNfX<%= dados['financeiro'][i].id %>" id='Pvalor_coisaX<%= dados["financeiro"][i].id %>'><%= dados["financeiro"][i].statusnf %></p></td>

        <td id='valor_clienteX<%= dados["financeiro"][i].id %>'><%= dados["financeiro"][i].cliente %></td>
        <td id='valor_vendedorX<%= dados["financeiro"][i].id %>'><%= dados["financeiro"][i].vendedor %></td>