<tr style="width:200px" class='cordaLinha<%= dados[pegar][i].id %>'>
  <td colspan='0.5' id='valor_idX<%= dados[pegar][i].id %>'><%= dados[pegar][i].id %></td>
  
<td id='valor_datahoraX<%= dados[pegar][i].id %>'>
    <input type='hidden' id='datahora_textX<%= dados[pegar][i].id %>' value='$datahora'><%= dados["passagem"][dados[pegar][i].selecionarDado].dataHora %></td>


      <td id='valor_numeronfX<%= dados[pegar][i].id %>'>
<%= dados["passagem"][dados[pegar][i].selecionarDado].numeronf %>
    </td>



<td id='valor_motoristaX<%= dados[pegar][i].id %>'><%= dados[pegar][i].motorista %> </td>

        <td id='valor_codentregaX<%= dados[pegar][i].id %>'><%= dados[pegar][i].codentrega %> </td>

        <td id='valor_cidadeX<%= dados[pegar][i].id %>'><%= dados[pegar][i].cidade %> </td>

        <td id='valor_concluidaX<%= dados[pegar][i].id %>'><%= dados[pegar][i].concluida %> </td>

        <td id='valor_obsX<%= dados[pegar][i].id %>'><%= dados[pegar][i].obs %> </td>
    </td>