<tr style="width:200px" class='cordaLinha<%= dados[pegar][i].id %>'>
  <td colspan='0.5' id='valor_idX<%= dados[pegar][i].id %>'><%= dados[pegar][i].id %></td>
  
<td id='valor_datahoraX<%= dados[pegar][i].id %>'>
    <input type='hidden' id='datahora_textX<%= dados[pegar][i].id %>' value='$datahora'><%= dados["passagem"][dados[pegar][i].selecionarDado].dataHora %></td>


      <td id='valor_numeronfX<%= dados[pegar][i].id %>'>
<%= dados["passagem"][dados[pegar][i].selecionarDado].numeronf %>
    </td>


    <td id='valor_codentregaX<%= dados[pegar][i].id %>'><%= dados[pegar][i].codentrega %> </td>
        
    <td id='valor_placaX<%= dados[pegar][i].id %>'><%= dados[pegar][i].placa %>
    </td>
  
    <td id='valor_hodometroX<%= dados[pegar][i].id %>'><%= dados[pegar][i].hodometro %>
    </td>

    <td id='valor_datahoraX<%= dados[pegar][i].id %>'><%= dados[pegar][i].datahora %>
    </td>

    <td id='valor_obsX<%= dados[pegar][i].id %>'><%= dados[pegar][i].obs %>
    </td>